@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');

* {
    box-sizing: border-box;
}

body > .container {
    padding-top: 60px;
}

td {
    min-width: 2rem;
}

.logo {
    font-family: "Babylonica", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 42px;
}

footer {
    margin-top: 0.4em;
    padding: 0em;
    text-align: center;
    background: linear-gradient(110deg, #006aa7 8%, #fecc02 calc(8% + 1px), #fecc02 12%, #006aa7 calc(12% + 1px), #006aa7 20%, #2B3035 calc(20% + 1px), #2B3035 100%);
}
